* {
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;

    --color-gray: #E3DCC2;
    --color-yellow: #E3DC95;
    --color-moss: #A6A867;
    --color-green: #51513D;
    --color-green-lighter: #A6A867;
    --color-black: #1B2021;
    --color-error: #E63946;

    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-4: 1rem;
    --space-6: 1.5rem;
    --space-8: 2rem;


    --boreder-radius-small: 4px;
    --boreder-radius-medium: 6px;

    --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
    background-color: var(--color-gray);
    color: var(--color-green); 
    margin: 0;
}

main {
    width: 90%;
    max-width: 50rem;
    margin: auto;
}

ul, 
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-black); 
}

.btn {
    cursor: pointer;
    font: inherit;
    padding: var(--space-2) var(--space-6);
    background-color: var(--color-yellow); 
    color: var(--color-green); 
    border: 1px solid var(--color-moss); 
    border-radius: var(--boreder-radius-small);
}

.btn:hover,
.btn:active {
    background-color: var(--color-gray); 
    border-color: var(--color-black); 
}

.alert {
    border-radius: var(--boreder-radius-small);
    background-color: var(--color-yellow);
    color: var(--color-error);
    padding: var(--space-4);
}

.alert h2 {
    font-size: 1rem;
    margin: var(--space-2) 0;
    text-transform: uppercase;
}

.alert p {
    margin: var(--space-2) 0;
}