body {
  background-color: rgb(237, 223, 243);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

button {
  font: inherit;
  background-color: rgb(245, 204, 239);
}

button:hover {
  background-color: rgb(210, 176, 224);
  cursor: pointer;
}

h1 {
  text-align: center;
  padding: 2rem 1rem;
  background-color: rgb(210, 176, 224);
  margin: 0;
}

article {
  display: flex;
  justify-content: center;
}

.playerbox {
  text-align: center;
  margin: 3rem;
  padding: 2rem;
  border: 0.5px solid;
  background-color: rgb(245, 204, 239);
}

.playername {
  color: rgb(126, 61, 116);
  font-size: larger;
}

.playersymbol {
  padding: 1rem 0;
  font-size: large;
}

#playercustomisationbox {
  text-align: center;
  border: 1px solid;
  position: fixed;
  top: 20%;
  left: 15%;
  width: 70%;
  background-color: white;
  display: none;
}


#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

#playercustomisationbox p {
  font-size: larger;
}

label {
  display: block;
  padding: 1rem;
}

form {
    margin-bottom: 2rem;
}

#activegame {
  display: none;
}

#activegame p {
  display: flex;
  justify-content: center;
}

#startgame {
    display: flex;
    justify-content: center;
}

#gamefield {
display: grid;
grid-template-columns: repeat(3, 6rem);
grid-template-rows: repeat(3, 6rem);
justify-content: center;
padding: 0;
}

#gamefield li {
    display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  cursor: pointer;
}

#gamefield li:hover {
  background-color: rgb(126, 61, 116);
}

#gamefield li.disabled {
  background-color: rgb(126, 61, 116);
  color: white;
  cursor: default;
}

#gameover {
  display: none;
  justify-content: center;
}